<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to Tindbike</h1>

  <h2>
	  Thousands of bike enthusiasts are waiting for you.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" if !logged_in? %>
  <%= link_to "Browse groups", groups_path, class: "btn btn-lg btn-success" if logged_in? %>

</div>
