<% if @group.group_messages.any? %>
  <h3>Posts (<%= @group.group_messages.count %>) <%= link_to "Create new Post", new_group_message_path(group_id: @group.id) %></h3>
  <ol class="group_messages">
    <%= render @group_messages %>
  </ol>
  <%= will_paginate @group_messages %>
<% end %>
