<table>

	<colgroup>
	    <col span="1" style="width: 33%;">
		<col span="1" style="width: 33%;">
		<col span="1" style="width: 33%;">
	</colgroup>
	
	<tbody>

		<% @groups.each do |group| %>
			<tr>
				<td><%= link_to group.name, group_path(id: group.id) %></td>
				<td><%= group.details %></td>
				<% unless @group_membership.include? group.id %>
					<td><%= link_to 'Join Group', join_group_path(group_id: group.id) %></td>
                <% else %>
                    <td><%= link_to 'Leave Group', leave_group_path(group_id: group.id) %></td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
	
</table>
