<div class="row">
    <table class="table table-striped">

    <thead>
    <tr>
      <th class="col-md-1"></th>
      <!-- col for pictures -->
      <th class="col-md-2">Name</th>
      <th class="col-md-4">Description</th>
      <th class="col-md-1"></th>
    </tr>
    </thead>

    <tbody>

    <% @groups.each do |group| %>
        <tr>
          <td>
            <%= thumbnail(group) %>
    </tbody>

  </table>
</div>
