<table class="table table-striped">

  <colgroup>
	<col span="1" style="width: 20%;">
	<col span="1" style="width: 30%;">
    <col span="1" style="width: 50%;">
  </colgroup>
  
  <thead>
    <tr>
      <th></th>
      <th>Sender</th>
      <th>Message</th>
    </tr>
  </thead>
  <tbody>
    <% messages.each do |message| %>
      <tr>
        <td><%= message.created_at.strftime("%x %H:%M:%S") %></td>
        <td><%= link_to message.sender.username, user_path(id: message.sender.id) %></td>
        <td><%= message.message %></td>
      </tr>
    <% end %>
  </tbody>
</table>
