<table>

	<colgroup>
	    <col span="1" style="width: 33%;">
		<col span="1" style="width: 33%;">
		<col span="1" style="width: 33%;">
	</colgroup>
	
	<tbody>

		<% @users.each do |user| %>
			<tr>
				<td><%= link_to user.username, user_path(id: user.id) %></td>
				<td><%= "#{user.first_name} #{user.name}" %></td>
				<td><%= user.details %></td>
			</tr>
		<% end %>
	</tbody>
	
</table>
