<h2 class="pull-left">Recieved</h2>
<%= render partial: 'messages', :locals => {:messages => @recieved_messages} %>

<h2 class="pull-left">Sent</h2>
<%= render partial: 'messages', :locals => {:messages => @send_messages}%>
